<h1>Stripe Future Payment</h1>
<%= link_to "Create Customer", create_customer_path %><br />
<%= link_to "Checkout", checkout_path(customer_id: params[:customer_id]) %><br />
<%= link_to "Checkout Stripe", params[:next_url] %><br />
<%= link_to "Setup Intent", setup_intent_path(setup_intent: params[:setup_intent]) %>